@model Umbraco.Web.Models.LoginModel


@using (Html.BeginUmbracoForm<UpgradeIt.Controllers.MembershipController>("Login"))
{
    @Html.ValidationSummary("Model", true)
    <h1>Welcome Back!</h1>

    <div class="field-wrap">
        <label>
            @Html.LabelFor(m => Model.Username)<span class="req">*</span>
        </label>
        @Html.TextBoxFor(m => Model.Username)
        @Html.ValidationMessageFor(m => Model.Username)
    </div>

    <div class="field-wrap">
        <label>
            @Html.LabelFor(m => Model.Password)<span class="req">*</span>
        </label>
        @Html.PasswordFor(m => Model.Password)
        @Html.ValidationMessageFor(m => Model.Password)
    </div>

    <p class="forgot"><a href="#">Forgot Password?</a></p>

    <button class="button button-block">Log In</button>
}




