@model UpgradeIt.Model.RegisterViewModel

@using (Html.BeginUmbracoForm<UpgradeIt.Controllers.MembershipController>("Register"))
{
    @Html.ValidationSummary("Model", true)

    <h1>Sign Up for Free</h1>

    <div class="field-wrap">
        <label>
            @Html.LabelFor(m => Model.Email)<span class="req">*</span>
        </label>
        @Html.TextBoxFor(m => Model.Email)
        @Html.ValidationMessageFor(m => Model.Email)
    </div>

    <div class="field-wrap">
        <label>
            @Html.LabelFor(m => Model.Password)<span class="req">*</span>
        </label>
        @Html.PasswordFor(m => Model.Password)
        @Html.ValidationMessageFor(m => Model.Password)
    </div>

    <div class="field-wrap">
        <label>
            @Html.LabelFor(m => Model.ConfirmPassword)<span class="req">*</span>
        </label>
        @Html.PasswordFor(m => Model.ConfirmPassword)
        @Html.ValidationMessageFor(m => Model.ConfirmPassword)
    </div>

    <button type="submit" class="button button-block" >Get Started</button>
}



