@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Page.cshtml";
}
@{
    var loginStatus = TempData["LoginStatus"] as string;
    var registrationSuccess = TempData["RegistrationSuccess"] as bool?;
    var registrationErrorMessage = TempData["RegistrationErrorMessage"] as string;

<p>@Model.Content.GetPropertyValue("motto")</p>

<ul>
    @{
        var projects = Model.Content.Children().Where(p => p.GetPropertyValue<bool>("isApproved")).OrderBy(p => p.Descendants("like").Count()).Take(5);
        foreach (var project in projects)
        {
            <li><a href="@project.NiceUrl()">@project.Name</a></li>
        }
    }
</ul>
    if (String.IsNullOrEmpty(registrationErrorMessage))
    {
        registrationErrorMessage = "Unknown error!";
    }
}

<p>@Model.Content.GetPropertyValue("motto")</p>

@Umbraco.RenderMacro("LoginForm")

@Umbraco.RenderMacro("RegisterForm")

<p>@loginStatus</p>

@if(registrationSuccess == true)
{
    <p>Registration successfull!</p>
}
else if(registrationSuccess == false)
{
    <p>Registration error: @registrationErrorMessage</p>
}