@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Page.cshtml";
}

@section subHeader{
<div class="sub-header">
    <h1>@Model.Content.GetPropertyValue("motto")</h1>
    
    <p>@Model.Content.GetPropertyValue("headerSubtitle")</p>
    <a href="/project-create" class="button-home uppercase">Adauga un proiect</a>
    <a class="button-home  scrollto uppercase">Implica-te</a>
</div>
}


@{
    var projects = Model.Content.Children().Where(p => p.GetPropertyValue<bool>("isApproved")).OrderBy(p => p.Descendants("like").Count()).Take(5);

    var dataTypeService = ApplicationContext.Services.DataTypeService;
    var types = dataTypeService.GetPreValuesCollectionByDataTypeId(dataTypeService.GetDataTypeDefinitionByName("Project Types").Id).PreValuesAsDictionary.Select(x => x.Value);
}


<div class="content">
    <div class="container">
        <div class="features">
            <div class="title-features">
                <h3>@Model.Content.GetPropertyValue("contentTitle")</h3>
                <p>@Model.Content.GetPropertyValue("contentSubtitle")</p>
            </div>
            <div class="about-us-homepage">
                <div class="owl-carousel-about">
                    @foreach (var project in projects)
                    {
                    <div class="item">
                        <div class="col-md-4 col-md-offset-1 col-sm-5 text-center about-image-container">
                            <div class="about-image-container-inner">
                                <img src="@project.GetPropertyValue("image")" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <div class="center-element">
                                <div class="center-element-inner">
                                    <h4 class="uppercase"><a href="@project.NiceUrl()">@project.GetPropertyValue("title")</a></h4>
                                    <p class="content-about-slider">@project.GetPropertyValue("description")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="categories">
                <div class="categories-center">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h3>Categorii</h3>
                                <p>Descopera proiectele din categoria preferata:</p>
                            </div>
                        </div>
                        <div class="row text-center clearfix">
                            <div class="col-sm-8 col-sm-offset-2">
                                <ul class="category-list clearfix text-center">
                                    @foreach (var type in types)
                                    {
                                        <li><a class="category-item">@type.Value</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="where text-center">
                <h3>Unde ne poti gasi?</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>Aici, <strong>Timisoara </strong>Complex Heaven</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>